/* body{
    background-image: linear-gradient(#91e3f8, white);
} */
.card-title{
    background-color: rgba(255,255,255,0.6);
    width: -webkit-fill-available;
    font-weight: bold !important;
}
.mainLink{
    margin: 10px;
    width:200px;
}
.mainbtn{
    width:125px;
}
footer a{
    padding: 10px;
    height: 20px;
}
footer a:hover{
    border-left: 5px solid white;
}
footer span:hover{
    border-bottom: 5px solid white;
}


#edu{
    overflow-x: auto;
}
@media (min-width:600px){
    #edu{
        max-width: 380px;
    }
}
#edu ul{
    display: flex;
}
#edu ul li{
    padding: 10px;
    min-width: 350px;
}

#work-head{
    margin:10px;
    
}

.git-color{
    color: #ff0707 
}
.inline li{
    margin: 20px;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(179, 175, 175); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8a8989; 
  }




