body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-width: 1800px;
    margin: auto !important;
    transition: 0.5s;
}

main {
    flex: 1 0 auto;
}
blockquote{
   text-decoration: underline;
}
.parallax {
    background-image: url('/img/fullImg.png');
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.cbackground {
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width:600px) {
    .cbg2 {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .zDepth {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
}

nav {
    height: auto !important;
    transition: 0.5s;
}

.nav-active {
    font-weight: 600;
    /* font-size: 20px; */
    /* border-bottom: 5px solid black; */
    transition: 0.5s;
}

nav li a {
    transition: 0.5s;
}

@media(min-width:601px) {
    nav li a:hover {
        font-size: 20px;
    }
}

@media(max-width:600px) {
    nav li a:hover {
        font-weight: bolder;
        color: black !important;
    }
}

.load-blur {
    display: none;
}

.border {
    border-bottom: 10px solid teal;
    border-right: 10px solid;
}

.colMargin {
    margin-bottom: 15px;
}

.card-title {
    background-color: rgba(255, 255, 255, 0.6);
    width: -webkit-fill-available;
    font-weight: bold !important;
}

.mainLink {
    margin: 10px;
    width: 200px;
}

.mainbtn {
    width: 125px;
}

footer a {
    padding: 10px;
    height: 20px;
    transition: 0.5s;
}

footer a:hover {
    /* border-left: 5px solid white; */
    font-size: 18px;
}

footer span:hover {
    font-size: 18px;
}

.loader {
    margin-left: 45vw;
    margin-top: 50vh;
}

.loader-wrapper {
    width: 100%;
    z-index: 1;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#edu {
    overflow-x: auto;
}

#edu ul {
    display: flex;
}

#edu ul li {
    padding: 10px;
    min-width: 350px;
}

.git-color {
    color: #ff0707
}

.inline li {
    margin: 20px;
}

.jContent {
    display: none;
    text-align: center;

}

@media (min-width:800px) {
    .jContent {
        width: 400px !important;
    }
}

.jbtn {
    width: auto;
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid black;
    transition: 0.5s;
}

.jactive {
    border-bottom: none;
    font-weight: bolder;
    font-size: 20px;
}

.jbtn:hover {
    border-bottom: none;
    font-weight: bolder;
    font-size: 25px;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: teal;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

#others {
    font-size: x-large;
}

@media (min-width:1200px) {
    .cont2 {
        width: fit-content;
    }
}

@media (max-width:1199px) {
    .cont2 {
        width: 93%;
    }
}

@media (max-width:600px) {
    .mobile {
        line-height: 2;
        word-spacing: 5px;
        letter-spacing: 2px;
    }
}

@media (max-width:450px) {
    .mobile {
        line-height: normal;
        letter-spacing: normal;
    }
}